.new-user {
  background-color: indianred;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0 1px 8px rgb(10, 10, 10);
}

.new-user input {
  font: inherit;
  padding: 0.3rem;
  border-radius: 9px;
  width: 15rem;
  max-width: 100%;
}

.new-user input:focus {
  background: #eeb5ab;
}

.new-user input:hover {
  background: #eeb5ab;
}

.new-user label {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  display: block;
}

.new-user button {
  cursor: pointer;
  padding: 1rem 2 rem;
  border-radius: 12px;
  margin-top: 1rem;
}

.new-user button:hover {
  background: #eeb5ab;
}
